#nav {
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 70px;
  border-bottom: 1px solid #263238;
}

#left {
  text-align: left;
  height:100%;
  position: absolute;
  top: 15%;
  bottom: 20%;
  left: 0;
  width: 75%;
  overflow-y: scroll;
}

#right {
  height:100%;
  text-align: left;
  position: absolute;
  top: 15%;
  bottom: 20%;
  right: 0;
  overflow-y: scroll;
  width: 25%;
}

#rightIcons {
    height:5%;
    
    position:fixed;
    width:100%;
}
