@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body{
  font-family: 'Roboto';
}


#nav {
  padding: 20px;
  text-align: left;
  color: black;
  font-size: 70px;
  border-bottom: 1px solid #263238;
}

#left {
  padding-left: 15%;
  text-align: left;
  height:85%;
  position: absolute;
  top: 15%;
  bottom: 20%;
  left: 0;
  width: 100%;
  overflow-y: scroll;
}

#right {
  padding-right: 15%;
  height:100%;
  text-align: left;
  position: fixed;
  top: 15%;
  bottom: 60%;
  right: 0;
  overflow-y: scroll;
  width: 1200px;
}

#rightIcons {
  height:2%;
  position:center;
  width:100%;
}

.tab {

  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;

}

/* Style the buttons inside the tab */
.tab button {

  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;

}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  overflow-y: scroll;
  overflow: visible;
  height: auto;


}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  font-size: auto;
}

/* jQuery side mobile menu css --------------------------------*/

#sideMenu,
.side-navi-item,
.side-navi-data,
.side-navi-tab {  margin: 0; padding: 0;  }
#sideMenu {
    position: fixed;
    right: 50px;
    top: 35%;
}
/* items */
.side-navi-item-default {
    height: 50px;
    display: inline;
}
.side-navi-item {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 150px;
    height: 50px;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    color: #fff;
    background-color: grey;
    cursor: pointer;
}
.side-navi-item.item1 {  top: 10px;  }
.side-navi-item.item2 {  top: 200px;  }
.side-navi-item.item3 {  top: 400px;  }
.side-navi-item.item4 {  top: 600px;  }

.side-navi-item.active,
.side-navi-item:hover {  background-color: #e5e5e5; color: #000;  }
.side-navi-item > div {  padding-top: 15px; text-align: center;  }
/* data wrapper */
.side-navi-data {
    position: absolute;
    top: 10;
    left: 50px;
    width: 650px;
    height: 1250px;
    background-color: #e5e5e5;
}
/* tab wrapper */
.side-navi-tab {  display: inline;  }
.side-navi-tab.active {  display: inline-block;  }
.side-navi-tab > div {  padding: 30px;  }



/* Media Queires  */

@media screen and (max-width:760px) {
/* 760px and below the initial menu screen will disable  */

  .tab,
  .rightIcons,
  .rightHide,
  .tabcontent,
  .tab button{
    display: none;
    z-index: 99 !important;
  }


}

  /* When it is disabled -> enable side panel menu */

  #left {
    padding-right: -20%;
  }

@media screen and (min-width:760px) {

  #sideMenu,
  .side-navi-item,
  .side-navi-data,
  .side-navi-tab {  margin: 0; padding: 0;  }
  #sideMenu{
  display: none;
}




}
